header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    flex-direction: column;
}

header .title-theme{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -240px;
}

header .create-new-task-container{
    position: absolute;
    top: -150px;
}