@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background-color: var(--very-dark-blue);
    color: #fff;
}